<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("HtmlHeads", required: false)
</head>
<body>
    <header class="bem-header">Bolerplate</header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="bem-footer">MIT LICENSE</footer>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
